
@model ClothBazar.Web.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="font-weight-bold">Product Name</th>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        @if (product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>@product.Price</td>
                    <td class="wrap-td">
                        <button type="button" id="editBtn" class="edit-new-btn" data-id="@product.ID">Edit</button>
                        <button type="button" id="deleteBtn" class="delete-btn" data-id="@product.ID">Delete</button>
                        <button type="button" id="addtocartBtn" class="addtocart-btn" data-id="@product.ID">Add To Cart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.Pager != null)
        {
            if (Model.Pager.CurrentPage > 1)
            {
                <button type="button" data-page="1" class="pageBtn">First</button>
                <button type="button" data-page="@(Model.Pager.CurrentPage - 1)" class="pageBtn">Previous</button>
            }

            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
                <button type="button" data-page="@page" class="@activeClass pageBtn">@page</button>
            }

            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button type="button" data-page="@(Model.Pager.CurrentPage + 1)" class="pageBtn">Next</button>
                <button type="button" data-page="@Model.Pager.EndPage" class="pageBtn">Last</button>
            }
        }
    </div>

    </div>


<script>
    // Edit Button
    jQuery(document).ready(function () {
        jQuery('.edit-new-btn').on('click',
            function (e) {
                e.preventDefault();

                jQuery.ajax({
                    url: '/Product/Edit',
                    data: {
                        ID: jQuery(this).attr('data-id')
                    },
                    beforeSend: function (xhr) { },
                    success: function (response, statusText, xhr) {
                        // console.log(xhr, response, statusText);
                        jQuery("#editContainer").html(response);
                        focusAction("editContainer");
                    },
                    complete: function (xhr, response, statusText) { },
                    error: function (xhr, errors) { alert("fail"); }
                });


            });
    });

    // Delete Button
    jQuery(document).ready(function () {
        jQuery('.delete-btn').on('click',
            function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        jQuery.ajax({
                            type: 'POST',
                            url: '/Product/Delete',
                            data: {
                                ID: jQuery(this).attr('data-id')
                            },
                            beforeSend: function (xhr) { },
                            success: function (response, statusText, xhr) {
                                // console.log(xhr, response, statusText);
                                jQuery(".ProductTable").html(response);
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            },
                            complete: function (xhr, response, statusText) { },
                            error: function (xhr, errors) { }
                        });

                    }
                });
            });
    });

    // Add To Cart
    jQuery(document).ready(function () {
        var products = [];
        jQuery(".addtocart-btn").on("click",
            function () {
                var productID = jQuery(this).attr('data-id');
                products.push(productID);
                jQuery.cookie("CartProducts", products.join('-'), { path: '/' });
                alert("Added");
            });

        jQuery(".pageBtn").on("click",
            function () {
                jQuery.ajax({
                        type: 'POST',
                        url: '/Product/ProductTable',
                        data: {
                            pageNo: jQuery(this).attr('data-page')
                            
                        }
                    })
                    .done(function (response) {
                        jQuery(".ProductTable").html(response);
                    })
                    .fail(function () {
                        alert("Fail");
                    });

            });
    });
</script>
