@model ClothBazar.Web.ViewModels.CategorySearchViewModel
@{
    ViewBag.Title = "CategoryTable";
}

<table id="categoryTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th class="font-weight-bold">Category Name</th>
        <th class="font-weight-bold">Products</th>
        <th class="font-weight-bold">Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Categories != null && Model.Categories.Count > 0)
    {
        foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    @category.Products.Count
                </td>
                <td class="wrap-td">
                    <button class="edit-new-btn" data-id="@category.ID">Edit</button>
                    <button class="deleteBtn" data-id="@category.ID">Delete</button>
                </td>
            </tr>
        }
    }
    </tbody>
</table>


<script>
    jQuery(".deleteBtn").on("click", function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                jQuery.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Category")',
                        data: {
                            ID: jQuery(this).attr('data-id')
                        }
                    })
                    .done(function (response) {
                        jQuery("#tableContainer").html(response);

                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )

                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("FAIL");
                    });

            }
        });

    });
</script>

